@charset "UTF-8";
/* CSS Document */

/*HEADER CODE*/
.header-container{
	max-width: 1300px;
	min-height: 60px;
	max-height: auto;
	background-color: white;
	margin:auto;
	position: relative;
	font-family: bodyfont;
}

.ptext{
	padding: 10px;
	text-align: center;
	font-size: 40px;
	font-family: bodyfont;
}

h1{
	text-align: center;
	padding-top: 20px;
	font-family: headerfont;
	font-size: 40px;
}

button{
	margin-top:10px;
	margin-left:20%;
	margin-right:20%;
	background-color: white;
	text-decoration: none;
	border:none;
	border-radius: 2px;
	font-size: 25px;
	cursor: pointer;
	-webkit-transition-duration: 0.4s; /* Safari */
	transition-duration: 0.4s;
	position: relative;
	font-family: bodyfont;
	
}
.header-container a{
	margin-left:20%;
	margin-right:2%;
	background-color: white;
	text-decoration: none;
	border:none;
	border-radius: 2px;
	font-size: 25px;
	cursor: pointer;
	-webkit-transition-duration: 0.4s; /* Safari */
	transition-duration: 0.4s;
	position: relative;
	color: black;
}

.header-container h1{
	padding-top: 1%;
}
button:hover, a:hover{
	/**box-shadow: 0 3px 3px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);**/
    background-color: #B5E2E4;
}
/*SLIDESHOW AND BODY CONTAINER*/
@font-face{
	font-family: bodyfont;
	src:url("style/NixieOne/fonts/NixieOne.woff");
}
@font-face{
	font-family: headerfont;
	src:url("style/TamiraRegular/fonts/Tamira-lwA0.woff"); 
	
}
/*MAIN CONTENT*/
div.container{
	max-width: 1300px;
	min-height:500px;
	margin-top:30px;
	margin-left:100px;
	margin-right:100px;
	position: relative;
	align-self: center;
	border-style: solid;
	border-size: 2px;
	border-color: #D1AE02;
	
}

hr{
	width:75%;
	height: 2px;
	background-color: black;
	position: relative;
	bottom: 10px;
}

body{
	background-color: whitesmoke;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}


/* FOOTER CODE*/
div.footer-container{
	
	width: 100%;
	min-height:100px;
	text-align: center;
	align-self: center;
	background-color: #B5E2E4;
	font-size: 20px;
	font-family: bodyfont;
	position: relative;
	top: 30px;
}

/*SOCIAL MEDIA BUTTONS*/
.fa {
  padding: 10px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

/* DROPDOWN CODE*/
.dropdown {
  position: relative;
  display: inline-block;
  
}

.dropdown-content {
  display: none;
  position: absolute;
  left: 95px;
  background-color: white;
  min-width: 1px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  margin: 8px 3px 8px 3px;
  background-color: white;
  padding: 8px 8px 3px 3px;
  text-decoration: none;
  display: block;
  
}

.dropdown-content a:hover {background-color: #C3C3C3;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}


